<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/61AxZXJ1u7L.png">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            font-size: 20px;
        }
        .navbar-brand, .nav-item {
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-item.active .nav-link {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-lg-4" >
        <img src="https://m.media-amazon.com/images/I/61AxZXJ1u7L.png" height="80px" alt="ExpenseMate Logo">
        <a class="navbar-brand" href="{% url 'home' %}">ExpenseMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/add_expense/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'add_expense' %}">Add Expense</a>
                </li>
                <li class="nav-item {% if request.path == '/weekly_expense/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'weekly_expense' %}">Weekly Expenses</a>
                </li>
                <li class="nav-item {% if request.path == '/monthly_expense/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'monthly_expense' %}">Monthly Expenses</a>
                </li>
                <li class="nav-item {% if request.path == '/expense_graph/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense_graph' %}">Charts</a>
                </li>
                <li class="nav-item {% if request.path == '/logout/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
